<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <br />
  <br />
  <h1>Wows!</h1>
  <%= link_to 'My Profile', user_path(current_user) %></div>
<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <% @wows.each do |wow| %>
  <div class="card">
    <div class="handle"><%= wow.user.email %></div>

    <%= image_tag wow.picture.to_s, class: 'img-fluid' %>
    <p>
      <%= wow.comment %>
      <br />
      <br />
      <%= wow.address %>
    </p>

    <div class="wow-actions float-right">
      <% if current_user && current_user == wow.user %>
        <%= link_to 'Show Map', wow_path(wow) %>
        <%= link_to 'Edit', edit_wow_path(wow) %>
        <%= link_to 'Destroy', wow_path(wow), method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>
    <br class="clear-fix" />

  <div class="ratings">
      <h3>Ratings</h3>
      <% wow.ratings.each do |rating| %>
          <div class="rating">
            <span class="rating_handle">
              <%= rating.user.email %><br />
              <%= rating.comment %><h7>stars</h7>
            </span>
          </div>
        <% end %>
      <h4>Add a rating</h4>
      <%= simple_form_for Rating.new, url: wow_ratings_path(wow) do |f| %>
        <%= f.input :comment %>
        <%= f.submit 'Add a Rating', class: 'my-btn' %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>